{% load static %}
<html>
    <head>
        <title>Fotoblog</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <div class="sidebar">
            <h1>Fotoblog</h1>
            {% if user.is_authenticated %}
                <p>Hey {{ user }}!</p>
                {% if user.profile_photo %}
                    <img class="avatar" src="{{ user.profile_photo.url }}" alt="">
                {% else %}
                    <img class="avatar" src="{{ media   }}" alt="">
                {% endif %}
                <p><a href="{% url 'home' user.id %}">My posts</a></p>
                <p><a href="{% url 'photo_upload' %}">Post a photo</a></p>
                <p><a href="{% url 'upload_profile_photo' %}">Update Profile Picture</a></p>
                <p><a href="{% url 'password_change' %}">Change Password</a></p>
                <p><a href="{% url 'logout' %}">Log out</a></p></p>
            {% else %}
                <p><a href="{% url 'login' %}">Login</a></p>
            {% endif %}
        </div>
        {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="main">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>